.pokemon{
    height: 100%;
    width: 100%;

    position: relative;

    display: flex;
    align-items: center;
    padding-left: 40px;
}

.page-navigation{
    position: absolute;
    bottom: 0;
    right: 40px;
    height: 100px;
    width: 700px;
    border: 1px red solid;
    box-sizing: border-box;
}
