@font-face {
    font-family: pokemon-solid;
    font-display: swap;
    src: url(../../fonts/pokemon-solid.ttf);
}


.pokemon{
    height: 100%;
    width: 100%;

    position: relative;

    display: flex;
    align-items: center;
    padding-left: 40px;

    font-family: pokemon-solid, sans-serif;
}
