
.pokemon-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: calc(100%);

    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: min-content;
    overscroll-behavior-y: auto;

    cursor: grab;
    z-index: 5;
}

.pokemon-list-content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: end;

    user-select: none;
    pointer-events: none;
}

.pokemon-list-loading.pokemon-list-content .pokemon-list-item{
    --animation-delay-value: 1;

    animation: pokemonListLoading 500ms forwards;
    animation-delay: calc(var(--animation-delay-value) * 10ms);
}

@keyframes pokemonListLoading {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(800px);
    }
}
