.loading-screen{
    --pokemon-loading-top-bg: #f21b1b;
    --pokemon-loading-bottom-bg: white;
    --pokemon-loading-mid-bg: black;
    --pokemon-loading-inner-circle: white;
    --pokemon-loading-inner-error: red;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 10fr 1fr 10fr; /* black row height */
    grid-template-columns: 10fr 9fr 10fr; /* black circle height */

    backface-visibility: hidden;
    pointer-events: none;
}

.loading-part-top{
    background: var(--pokemon-loading-top-bg);
    border-radius: var(--pokemon-details-border-radius) var(--pokemon-details-border-radius) 0 0;
    grid-column-start: 1;
    grid-column-end: 4;
    pointer-events: visible;
}

.loading-part-bottom{
    background: var(--pokemon-loading-bottom-bg);
    border-radius: 0 0 var(--pokemon-details-border-radius) var(--pokemon-details-border-radius);
    grid-column-start: 1;
    grid-column-end: 4;
    pointer-events: none;
}

.loading-part-mid-black{
    background: var(--pokemon-loading-mid-bg);
    pointer-events: none;
}

/* Pokemon circle part */

.loading-part-mid{
    position: relative;
    z-index: 1;
}
.pokemon-circle{
    position: absolute;
    width: 120%;
    height: auto;
    aspect-ratio: 1;

    top: 50%;
    left: 0;
    transform: translate(-10%, -50%);
}

.pokemon-circle-black-inner{
    height: 100%;
    width: 100%;

    background: var(--pokemon-loading-mid-bg);
    border-radius: 50%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 800px;
    transform-style: preserve-3d;
    pointer-events: visible;
}

.pokemon-circle-white-inner{
    position: absolute;

    height: calc(var(--pokemon-details-container-height) * 0.9);
    width: calc(var(--pokemon-details-container-width) * 0.9);

    --white-circle-scale: 0.42;
    transform: scale(calc(0.7 * var(--white-circle-scale)), calc(0.6 * var(--white-circle-scale)));
    transition: transform var(--pokemon-details-loading-transition-time),
                background-color var(--pokemon-details-transition-time),
                border-radius var(--pokemon-details-loading-transition-time),
                box-shadow var(--pokemon-details-transition-time),
                filter var(--pokemon-details-transition-time);

    background: var(--pokemon-loading-inner-circle);
    border-radius: 50%;
    /*overflow: hidden;*/

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}


.page-navigation .pokemon-circle-white-inner{
    pointer-events: visible;
    cursor: pointer;
}
.page-navigation.loading .pokemon-circle-white-inner{
    pointer-events: none;
}

.page-navigation .pokemon-circle-white-inner:hover{
    box-shadow: inset 0 0 110px 3px black;
    background: #ff9c9c;
    animation: animateSpinningColor 4s infinite linear;
}

.pokemon-circle-white-inner .pokemon-details-content{
    transition: opacity var(--pokemon-details-loading-transition-time);
    opacity: 0;
}

/*.pokemon-details-content-layer-1:hover:not(.loaded) .pokemon-circle-white-inner{
    transform: scale(calc(0.7 * var(--white-circle-scale)), calc(0.6 * var(--white-circle-scale))) translateZ(100px);
}*/

.loaded .pokemon-circle-white-inner{
    background: var(--pokemon-detailed-main-color) !important;
    transform: scale(1) translateZ(10px);
    border-radius: var(--pokemon-details-border-radius);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.73);

    animation: loaded-animation 1s;
}
.loaded:hover .pokemon-circle-white-inner{
    transition-delay: 150ms, 0s, 0s;
    transform: translateZ(20px);
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.73);
}

.loaded .pokemon-circle-white-inner .pokemon-details-content{
    opacity: 1;
}

.loading .pokemon-circle-white-inner{
    background: var(--pokemon-detailed-main-color) !important;
}


@keyframes loaded-animation {
    0%{
        border-radius: 50%;
        overflow: hidden;
        transform: scale(calc(0.7 * var(--white-circle-scale)), calc(0.6 * var(--white-circle-scale)));
    }
    50%{
        transform: scale(1, calc(0.6 * var(--white-circle-scale)));
        border-radius: var(--pokemon-details-border-radius);
    }
    100%{
        transform: scale(1) translateZ(10px);
        border-radius: var(--pokemon-details-border-radius);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.73);
    }
}

.load-error .pokemon-circle-white-inner{
    animation: loadErrorAnim 2s forwards;
}
@keyframes loadErrorAnim {
    0%, 20%{
        background: var(--pokemon-loading-inner-error);
    }
    100%{
        background: var(--pokemon-loading-inner-circle);
    }
}

/* White circle spinning shadow */


.pokemon-circle-spinning-animation{
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    animation: animateOuterSpinningCircle 1.5s infinite linear;
    animation-play-state: paused;
    pointer-events: none;
}

.pokemon-circle-spinning-animation:before,
.pokemon-circle-spinning-animation:after{
    --spinning-duration: 4s;
    --color-anim-duration: 10s;
    --spinning-animation: none;
    --fade-out-animation-duration: 400ms;
    --base-transform: translateY(100px);

    --shadow-color: #ff9f9f; /* this color will be hue-rotating, so no only change the lightness if needed */

    position: absolute;
    right: 0;

    content: '';
    height: 20px;
    width: 1px;

    box-shadow: -32px 0 20px 10px var(--shadow-color);
    transform-origin: -111px center;

    animation: var(--spinning-animation), animateSpinningColor var(--color-anim-duration) infinite linear;

    transition: opacity 200ms;
    opacity: 0;
}
.pokemon-circle-spinning-animation:before{
    --spinning-animation: spinningPseudoAnimation1 var(--spinning-duration) infinite linear;
}
.pokemon-circle-spinning-animation:after{
    --spinning-animation: spinningPseudoAnimation2 var(--spinning-duration) infinite linear;
}

.loading .pokemon-circle-spinning-animation:before,
.loading .pokemon-circle-spinning-animation:after{
    --shadow-color: var(--pokemon-detailed-main-color);
}

.loading .pokemon-circle-spinning-animation,
.pokemon-circle-spinning-animation:has(~ .pokemon-circle-white-inner:hover) {
    animation-play-state: running;
    pointer-events: visible;
}

.loaded .pokemon-circle-spinning-animation:before,
.loaded .pokemon-circle-spinning-animation:after{
    display: none;
}


@keyframes loadingDisappearAppear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes spinningPseudoAnimation1 {
    from{
        opacity: 1;
        transform: var(--base-transform) rotateZ(0);
    }
    to{
        opacity: 1;
        transform: var(--base-transform) rotateZ(360deg);
    }
}
@keyframes spinningPseudoAnimation2 {
    from{
        opacity: 1;
        transform: var(--base-transform) rotateZ(180deg);
    }
    to{
        opacity: 1;
        transform: var(--base-transform) rotateZ(540deg);
    }
}

@keyframes animateSpinningColor {
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

@keyframes animateOuterSpinningCircle {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

/* Loading bg color box */
.loaded-color-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: var(--pokemon-details-border-radius);

    background: var(--pokemon-detailed-secondary-color);
    transform: scale(1.005);
    transition: opacity var(--pokemon-details-loading-transition-time),
                background-color var(--pokemon-details-transition-time);
    transition-delay: 100ms, 0s;

    opacity: 0;
    z-index: 0;

    overflow: hidden;
}
.loaded .loaded-color-bg{
    opacity: 1;
}

.loaded-color-bg-anim{
    height: 100%;
    width: 100%;
}

.loaded .loaded-color-bg-anim{
    background: linear-gradient(-20deg, transparent 30%, rgba(255, 255, 255, 0.4), transparent 70%);
    animation: loadedColorBgAnimation 10s infinite linear;
}

@keyframes loadedColorBgAnimation {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}


/*  Page navigation  */
.loading-part-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    position: relative;

    padding: 0;
    margin: 0;
}

.page-navigation-button{
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--pokemon-loading-top-bg);
    transition: opacity 200ms;
    opacity: 0;
    pointer-events: none;

    cursor: pointer;
}
.page-navigation-button:hover{
    filter: brightness(0.9);
}
.page-navigation-button.clicking{
    filter: brightness(0.8);
}

.page-navigation .page-navigation-button {
    pointer-events: visible;
    opacity: 1;
}

.page-navigation  .disabled.page-navigation-button{
    cursor: not-allowed;
    opacity: 0.6;
}

.page-navigation-button img{
    height: 150px;
    width: 150px;
    transition: transform 200ms;
    user-select: none;
    pointer-events: none;
}
.page-navigation-button:hover img{
    transition-delay: 100ms;
}

.page-navigation-button-left img{
    transform: rotateZ(-90deg);
}
.allowed.page-navigation-button-left:hover img{
    transform: translate(-20px) rotateZ(-90deg);
}

.page-navigation-button-right img{
    transform: rotateZ(90deg);
}
.allowed.page-navigation-button-right:hover img{
    transform: translateX(20px) rotateZ(90deg);
}


/* Bottom settings */

.loading-part-bottom-settings{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: right;

    box-sizing: border-box;
    padding: 0 10px 10px 0;


}

.page-navigation .loading-part-bottom-settings img{
    pointer-events: visible;
}

.loading-part-bottom-settings img{
    height: 50px;
    width: 50px;

    transition: transform 1s ease-in-out;
    transition-delay: 500ms;
    cursor: pointer;

    opacity: 0;
}
.loading-part-bottom-settings img:hover{
    transform: rotateZ(360deg);
    opacity: 0.3;
}


/* Backside settings */
.backside-settings-container{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) rotateY(180deg);

    height: 100%;
    width: 100%;
    border-radius: var(--pokemon-details-border-radius);

    background: white;
    pointer-events: none;
    backface-visibility: hidden;

    overflow: hidden;
}
.page-navigation-settings .backside-settings-container{
    pointer-events: visible;
}

.backside-settings-content{
    box-sizing: border-box;
    font-size: 1rem;

    max-height: 100%;
    overflow-y: auto;
}

.backside-title{
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.backside-box{
    padding-left: 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 5px;

    margin-top: -10px;
}
.backside-box:hover{
    background: rgba(0, 0, 0, 0.19);
}

.backside-box:last-child{
    position: sticky;
    bottom: 0;
    border-top: 1px black solid;
    background: white;
}

.backside-box input, .backside-box button{
    height: 30px;
    font-size: 1rem;
}