:root{
    --pokemon-detailed-main-color: #cecece;
    --pokemon-detailed-secondary-color: #9d9d9d;
    --pokemon-detailed-mid-color: #adadad;
    --pokemon-detailed-ultra-dark: black;

    --pokemon-details-transition-time: 500ms;
    --pokemon-details-movement-transition-time: 150ms;
    --pokemon-details-loading-transition-time: 500ms;

    --pokemon-details-border-radius: 20px;

    --pokemon-details-container-width: 600px;
    --pokemon-details-container-height: 700px;
}

.pokemon-details-container{
    margin-left: 50px;

    height: var(--pokemon-details-container-height);
    width: var(--pokemon-details-container-width);
    z-index: 10;

    perspective: 800px;
    transform-style: preserve-3d;
    letter-spacing: 1px;

    color: var(--pokemon-detailed-ultra-dark);
    pointer-events: none;
}

.pokemon-details-content-layer-1{

    --layer1-rotate-x: 0;
    --layer1-rotate-y: 0;


    height: 100%;
    width: 100%;

    border-radius: var(--pokemon-details-border-radius);
    background: var(--pokemon-detailed-secondary-color);

    box-sizing: border-box;

    transition: transform var(--pokemon-details-movement-transition-time),
                background-color var(--pokemon-details-transition-time),
                border-radius var(--pokemon-details-loading-transition-time);
    transform: scale(0.8);

    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.76);

    transform-style: preserve-3d;
    transform-origin: center center;

    pointer-events: visible;
}


.pokemon-details-content-layer-1:hover {
    transform: scale(1) rotateX(var(--layer1-rotate-x)) rotateY(var(--layer1-rotate-y)) translateZ(-15px);
}

.page-navigation.pokemon-details-content-layer-1{
    transform: scale(0.8) translateZ(-100px);
}
.page-navigation.pokemon-details-content-layer-1:hover {
    transform-origin: center center -100px;
    /* the -100px is here because without that the page navigation filter is laggy as hell */
    transform: scale(1) rotateX(var(--layer1-rotate-x)) rotateY(var(--layer1-rotate-y)) translateZ(-100px);
}

.page-navigation-settings.pokemon-details-content-layer-1{
    transform: scale(0.8) rotateY(180deg);
}
.page-navigation-settings.pokemon-details-content-layer-1:hover {
    transform: scale(1.1) rotateY(180deg);
}


.pokemon-details-content{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 4fr 6fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;

    border-radius: var(--pokemon-details-border-radius);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.73);

    transition: border var(--pokemon-details-transition-time),
                transform var(--pokemon-details-movement-transition-time),
                box-shadow var(--pokemon-details-movement-transition-time);
}

.pokemon-details-grid-item:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
}


/*
----------------------------------------------------------------------------
Image
----------------------------------------------------------------------------
 */
.pokemon-image-container{
    perspective: 30rem;
    filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.63));
    transition: filter calc(var(--pokemon-details-transition-time) / 2);
}
.pokemon-details-content-layer-1:hover .pokemon-image-container{
    filter: drop-shadow(10px 15px 6px rgba(0, 0, 0, 0.63));
}

.flip-card{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.pokemon-image-container img{
    height: 260px;
    width: 260px;
}
.face {
    width: 100%;
    height: 100%;

    color: #fff;
    position: absolute;

    backface-visibility:hidden;
}

.back {
    transform: rotateY(180deg);
}
.flip-card.flip{
    animation: flipAnimation var(--pokemon-details-transition-time) forwards;
}

@keyframes flipAnimation {
    from{
        transform: none;
    }
    to{
        transform: rotateY(180deg);
    }

}

/*
----------------------------------------------------------------------------
Base Info
----------------------------------------------------------------------------
 */
.pokemon-id-title-container{
    display: flex;
    flex-direction: column;
}

.pokemon-id-title-container .pokemon-id{
    position: relative;
    height: 150px;
}

.pokemon-id .pokemon-id-inner{
    position: absolute;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    font-size: 5rem;
    transform: translateY(-20%);
}

.pokemon-id.animation .pokemon-id-inner span{
    --transition-delay: 1;
    animation: rotate forwards 500ms calc(var(--transition-delay) * 100ms);
}
@keyframes rotate {
    from{
        transform: none;
    }
    to{
        transform: rotateY(360deg);
    }
}

/*
----------------------------------------------------------------------------
Pokemon Name
----------------------------------------------------------------------------
 */
.pokemon-id-title-container .pokemon-name{
    font-size: 3rem;
    padding-left: 1rem;
    height: 110px;
    max-width: 227px;

}
.pokemon-id-title-container .pokemon-name .pokemon-name-absolute{
    --title-width: 10px;

    position: absolute;
    overflow: hidden;
    max-width: 250px;
    height: 130px;
}

.pokemon-name-sliding[data-animation-on-hover='1'] .pokemon-name-full{
    opacity: 0;
    position: absolute;
    width: max-content;
}

.pokemon-name:hover .pokemon-name-sliding[data-animation-on-hover='1'] .pokemon-name-trimmed{
    display: none;
}
.pokemon-name:hover .pokemon-name-sliding[data-animation-on-hover='1'] .pokemon-name-full{
    opacity: 1;
    position: relative;
    display: inline-block;
}

.pokemon-title-full-animation{
    --pokemon-title-full-animation-time: 10s;
    animation: pokemonNameFullAnim var(--pokemon-title-full-animation-time) linear;
}

@keyframes pokemonNameFullAnim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-120%);
    }
}


